<h2>Hey, nice to see you <img src="https://emojis.slackmojis.com/emojis/images/1531849430/4246/blob-sunglasses.gif?1531849430" width="30"/></h2>


<p>Here is the GitHub profile of Thomas,  Fullstack developer from <img src="https://image.flaticon.com/icons/svg/197/197560.svg" width="13"/> <b>France</b>, currently living in <img src="https://image.flaticon.com/icons/svg/197/197564.svg" width="13"/> <b>Stockholm, Sweden</b>. </p>

<p><b>His favourite tools:</b></p>
<p>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/GraphQL_Logo.svg/1024px-GraphQL_Logo.svg.png" width="20"/> GraphQL, <img src="https://cdn.iconscout.com/icon/free/png-512/typescript-1174965.png" width="20"/> TypeScript, <img src="https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-512.png" width="20"/> React, <img src="https://seeklogo.com/images/N/nestjs-logo-09342F76C0-seeklogo.com.png" width="20"/> NestJs, <img src="https://cdn.worldvectorlogo.com/logos/rxjs-1.svg" width="20"/> RxJs
</p>


<p><b>Welcome to Stockholm</b></p>
<p>Currently, the weather in Stockholm is : {{city_temperature}}°C, {{city_weather}}</p>
<p>Today, the sun rises at {{sun_rise}} and sets at {{sun_set}}.</p>

<b>Open source projects</b>
<i>...soon</i>


</hr>

<p>This README file is generated <b>every 6 hours</b>!</p>
<p>Last refresh: {{refresh_date}}</p>


Find me on other places:
[![Github](https://img.shields.io/github/followers/thmsgbrt.svg?label=GitHub&style=social)](https://github.com/thmsgbrt) [![Twitter](https://img.shields.io/twitter/follow/Guibz16?label=Twitter&style=social)](https://twitter.com/Guibz16) [![LinkedIn](https://img.shields.io/badge/LinkedIn-My_Resume-__?style=social&logo=LinkedIn)](https://www.linkedin.com/in/thomas-guibert) [![Medium](https://img.shields.io/badge/Medium-My_Stories-__?style=social&logo=Medium)](https://medium.com/@th.guibert)


------------


<p align="right">
![README build](https://github.com/thmsgbrt/thmsgbrt/workflows/README%20build/badge.svg) [![Visitors](https://visitor-badge.glitch.me/badge?page_id=thmsgbrt.thmsgbrt)](https://github.com/thmsgbrt)
</p>

